<%= simple_form_for(@profile, wrapper: :horizontal_form, validate: true, html: { class: 'form-horizontal' }) do |f| %>
   <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 .col-lg-offset-4 col-md-offset-4">
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :profile_picture %>
    <%= f.input :banner_picture %>
    <%= f.input :bio %>
  </div>

  <div align="center" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 .col-lg-offset-4 col-md-offset-4">
    <%= f.button :submit %>
  </div>
<% end %>
