<% profiles.each do |profile| %>
  <div class="media">
    <a class="media-left media-middle" href=<%= profile_path(profile) %> >
      <img id="profile-picture" class="media-object" src="<%= profile.profile_picture %>">
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= "#{profile.firstname} #{profile.lastname}" %></h4>
      <%= profile.bio %>
    </div>
  </div>
<% end %>
<%= will_paginate profiles %>

