<%= simple_form_for(@article, wrapper: :horizontal_form, validate: true, html: { class: 'form-horizontal' }) do |f| %>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 .col-lg-offset-4 col-md-offset-4">
    <%= f.input :name %>
    <%= f.input :thumbnail %>
    <%= f.input :caption %>
    <%= f.association :category, collection: current_user.categories.all, label_method: :name, value_method: :id, include_blank: false %>
  </div>
  <div class="col-xs-12">
    <%= f.text_area :content, class: "tinymce", rows: 40, cols: 120 %>
    <%= tinymce %>
  </div>
  
  <div align="center" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 .col-lg-offset-4 col-md-offset-4">
    <%= f.input :published %>
    <%= f.button :submit %>
  </div>
<% end %>
