<%= simple_form_for(@category, wrapper: :horizontal_form, validate: true, html: { class: 'form-horizontal' }) do |f| %>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 .col-lg-offset-4 col-md-offset-4">
    <%= f.input :user_id, as: :hidden %>
    <%= f.input :name %>
    <%= f.input :color, as: :minicolors, input_html: {data: {
          minicolors: {theme: :bootstrap, position: :left}}} %>
    <%= f.button :submit %>
  </div>
<% end %>
