<!DOCTYPE html>
<html>
  <head>
    <title><%= t("name") %></title>
    <!--correct scaling on smartphones-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/navbar" %>
    <div id="header" style="background-image: url(<%= @profile.banner_picture %>)"></div>
    <%= render "layouts/profile_navbar" %>
    <div id="wrap">
        <div id="content">
            <%= yield %>
          </div>
        </div>
    </div>
    <div id="footer">
      <%= render "layouts/footer" %>
    </div>
</html>
